body{
    font-family: Arial;
    padding: 20px;
}

div{
    width: 120px;
    height: 120px;
    border: 2px solid black;
    margin: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.corNova{
    background-color: yellow;
    color: blue;
}

.ativo{
    background-color: lightgreen;
    color: darkgreen;
    padding: 10px;
}

.rosa{
    background-color: pink;
    color: deeppink;
}

.destacado{
    background-color: black;
    color: white;
    border: 3px solid red;
}

.selecionado{
    background-color: orange;
    color: white;
}

.menu{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.itemMenu{
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}

.menuAtivo{
    background-color: blue;
    color: white;
}
