.item {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 15px;
}
.troca {
    background-color: green;
    color: red;
}
.ativo {
    background-color: purple;
    color: red;
}
.item1 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 15px;
}
.rosa {
    background-color: pink;
    color: white;
}